@media print {
  @page {
    size: A4;
    margin: 5mm;
  }

  html, body {
    width: 210mm;
    height: 297mm;
  }
}

html {
  font-size: 10pt;
  line-height: 14pt;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  width: 70%;
  max-width: 70%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

table {
  width: 100%;
}

table, tr, td {
  padding: 0;
  margin: 0;
}

th, td {
  vertical-align: top;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  padding: 5px 10px;
}

label {
  font-weight: bold;
}

.u-pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.total {
  text-align: right;
  font-weight: bold;
}

.invoiceNumber span {
  font-weight: bold;
}

th {
  background: #000 !important;
  color:#fff !important;
}

.terms {
  text-align: center;
  padding-top: 10px;
}

.item-description {
  padding: 10px;
}
