@media print {
  @page {
    size: A4;
    margin: 5mm;
  }

  html, body {
    width: 210mm;
    height: 297mm;
  }
}

html {
  font-size: 8pt;
  line-height: 12pt;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: sans-serif;
}

table {
  width: 100%;
}

table, tr, td {
  padding: 0;
  margin: 0;
}

th, td {
  vertical-align: top;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  padding: 5px 10px;
}

label {
  font-weight: bold;
}

.logo {
  width: 30%;
  max-width: 30%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid #111;
  vertical-align: middle;
}

.logo img {
  width: 80%;
  margin: 5px 10% 0 10%;
  height: auto;
  padding: 0;
}

.safetyCheckNumber {
  text-align: center;
  color: red;
  font-size: 12pt;
  font-family: courier, monospace;
}

.customerDetails,
.safetyCheckDetails {
  width: 35%;
  max-width: 35%;
  overflow: hidden;
  border: 2px solid #111;
  border-left: none;
  font-size: 10pt;
  line-height: 15pt;
}

.checklistContainer,
.additionalWork,
.comments {
  border: 2px solid #111;
  border-top: none;
}

.checklist,
.checklist tr,
.checklist th,
.checklist td {
  border: 2px solid #111;
}

.checklist {
  font-size: 8pt;
}

.checklist th,
.checklist td {
  padding:0 2px;
}

.checklist th,
.checklist .heading {
  background: #111 !important;
  color: #fff !important;
  text-align: center;
  font-weight: bold;
}

.checklist th {
  font-size: 10pt;
  line-height: 14pt;
}

.checklist .shade {
  background: #eee !important;
}

.checklist .spacer {
  line-height: 8px;
}

.legend {
  padding: 10px 0 10px 20px;
  font-size: 10pt;
}

.dotted {
  border-bottom: 1px dotted #111;
  padding: 10px 0 0 0;
}
