body {
  background-color: #d9e0c5;
}

.logo {
  max-width: 40rem;
  padding-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.main-buttons {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0;
}

table {
  width: 100%;
}

.header {
  border-bottom: .1rem solid #333;
  margin-bottom: 2rem;
}

.header h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

table tbody tr:nth-child(even) {
  background-color:#dde0d3;
}

input[type="text"] {
  width: 100%;
}

table {
  border-color: #333;
}

table tbody tr td,
td:last-child {
  padding: .5rem 1rem;
}

.hidden {
  display: none;
  overflow: hidden;
}

.button.button-medium,
button.button-medium,
input[type="submit"].button-medium,
input[type="reset"].button-medium,
input[type="button"].button-medium,
.button.button-medium:focus,
button.button-medium:focus,
input[type="submit"].button-medium:focus,
input[type="reset"].button-medium:focus,
input[type="button"].button-medium:focus {
  background-color: #ae1b1f;
  font-weight: 800;
  font-size: 1.5rem;
  color: #d9e0c5;
  border: .4rem solid #282126;
  border-radius: .5rem;
  line-height: normal;
  height: auto;
  padding: .8rem;
  margin: auto;
 }

.button.button-medium:hover,
button.button-medium:hover,
input[type="submit"].button-medium:hover,
input[type="reset"].button-medium:hover,
input[type="button"].button-medium:hover {
  color: #ae1b1f;
  background-color: #d9e0c5;
  border-color: #282126; }


  .button.button-large,
  button.button-large,
  input[type="submit"].button-large,
  input[type="reset"].button-large,
  input[type="button"].button-large,
  .button.button-large:focus,
  button.button-large:focus,
  input[type="submit"].button-large:focus,
  input[type="reset"].button-large:focus,
  input[type="button"].button-large:focus {
    background-color: #ae1b1f;
    font-weight: 800;
    font-size: 2rem;
    color: #d9e0c5;
    border: .5rem solid #282126;
    border-radius: .8rem;
    line-height: normal;
    height: auto;
    padding: 1.5rem;
    margin: auto;
   }

  .button.button-large:hover,
  button.button-large:hover,
  input[type="submit"].button-large:hover,
  input[type="reset"].button-large:hover,
  input[type="button"].button-large:hover {
    color: #ae1b1f;
    background-color: #d9e0c5;
    border-color: #282126; }


label {
  display: inline-block;
}

.large {
  font-size: 2rem;
}

.u-center,
.textcenter {
  text-align: center;
}

.u-right,
.textright {
  text-align: right;
}

.u-margin-bottom {
  margin-bottom: 5rem;
}

.u-left {
  text-align: left;
}

.u-float-right {
  float: right;
}

.u-inline {
  display: inline-block;
}

#noResults h4 {
  margin-bottom: 2rem;
}

input[type='checkbox'] {
  height: 3.8rem;
  width: 3.8rem;
}

#printInvoice {
  margin-bottom: 2rem;
}

#invoice textarea {
  width: 100%;
  max-width: 100%;
}

input[type="button"].button-primary.delete {
  padding: 0 18px;
}
